[user]
	email = gergely.halacsy@gmail.com
	name = Gergely Halacsy
[cola]
	spellcheck = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[url "git@github.com:"]
    insteadOf = "https://github.com/"
[push]
	autoSetupRemote = true
